<form class="mt-4" method="POST" action="/courses/handle-form-actions">
   <div>
        <h3>Khóa học của tôi</h3>
        <a href="/me/trash/courses">Thùng rác</a> ({{deletedCount}})
   </div>

   <div class="form-group mt-4 d-flex align-items-center">
        <select class="form-control form-control-sm checkbox-all-options" name="action" required>
            <option value="">-- Hành động --</option>
            <option value="delete">Xóa</option>
        </select>

        <button class="btn btn-primary btn-sm btn-checkall-submit" disabled id="checkall-submit-btn">Thực hiện</button>
  </div>

    <table class="table table-striped table-hover table-bordered mt-4">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkbox-all"></th>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Thumb</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Thời gian tạo</th>
                <th scope="col" class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody >
            {{#each courses}}
                <tr>
                    <td>
                        <input type="checkbox" value="{{this._id}}" name="courseIds[]">
                    </td>
                    <td scope="row">{{sum @index 1}}</td>
                    <td><img class="thumb-img" src="{{this.image}}" alt=""></td>
                    <td>{{this.name}}</td>
                    <td>{{this.createdAt}}</td> 
                     
                    <td>
                       <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                       <a href="" data-id="{{this._id}}" data-toggle="modal" data-target="#deleteCourseModal" class="btn btn-link">Xóa</a>
                    </td> 
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
                        <a href="/courses/create">Đăng khóa học</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- Confirm delete course --}} 
<div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
            <button type="button" id="btnDeleteCourse" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" id="deleteCourseForm"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var deleteCourseForm = document.forms['deleteCourseForm'];
        var btnDeleteCourse = document.getElementById('btnDeleteCourse');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = document.getElementById('checkall-submit-btn')

      
        $('#deleteCourseModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            courseId = button.data('id');
        });

      
        btnDeleteCourse.onclick = function() {
            deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteCourseForm.submit();
        }

        // Checkbox all changed
        checkboxAll.change(function() {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Course item checkbox changed
        courseItemCheckbox.change(function() {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Re-render checkall submit btn
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeAttribute('disabled');
            } else {
                checkAllSubmitBtn.setAttribute('disabled', 'disabled');
            }
        }

    })  

</script>